/*CSS*/
/*Base*/
*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
body{
	width: 100%;
}
/*Navigation*/
.topnav{
	background-color: #f5f7fa;
	border-bottom: 1px solid #dbdbdb;
	height: 40px;
}
.secnav{
	background-color: #f8f9fa;
	width: 100%;
}
.navbar-brand {
	margin-left: 5rem;
}
/*Header logo*/
.headlogo{
	background-image: url(../img/hd1.jpg);
	background-repeat: no-repeat;
	max-width: 100%;
	height: 374px;
}
/*Green button*/
.textas{
	text-align: center;
	margin-top: 25px;

}
/*white section*/
.fa-lightbulb{
	text-align: left;
	font-size: 35px;
	margin-top: 5px;
	margin-left: 1px;

}
.pwhite{
	font-size: 13px;
	margin-left: 10px;
	margin-top: -35px;
}
.white{
	height: 400px;
}