/*CSS*/
/*Base*/
*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
body{
	width: 100%;
}
/*Navigation*/
.topnav{
	background-color: #f5f7fa;
	border-bottom: 1px solid #dbdbdb;
	height: 40px;
}
.secnav{
	background-color: #ffffff !important;
	width: 100%;
	padding: 20px;
}
.navbar-brand {
	margin-left: 5rem;
}
.txtNav{
	font-size: 14px;
	color: #506a85 !important;
	font-weight: bold;
	text-transform: uppercase;
	padding: 30px !important;
}
/*Header logo*/
.headlogo{
	background-image: url(../img/hd1.jpg);
	background-repeat: no-repeat;
	max-width: 100%;
}
.hdh2{
	text-align: center;
	text-transform: uppercase;
	font-size: 70px;
	color: #ffffff;
	margin-top: 60px;
}
.hdh5{
	text-align: center;
	font-size: 15px;
	color: #aec4df;
	margin-left: 20%;
	margin-right: 20%;
}
/*Header button*/
.hdbtn{
	padding: 15px 25px;
	font-size: 12px;
	color: #ffffff;
	background-color: #00bb9c;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}
.hdbtn:hover{
	background-color: #ffffff;
	color: #00bb9c;
	border: 2px solid #00bb9c;
	text-decoration: none;
	font-weight: bold;
}
/*Header button position*/
.hdbtnpos{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
}
/*white section 4*/
.hsec4{
	text-align: center;
	color: #506b86;
	margin-top: 40px;
}
.psec4{
	text-align: center;
	color: #7288a0;
	margin-left: 15%;
	margin-right: 15%;

}
.pwhite{
	font-size: 13px;
	margin-left: 0%;
	margin-top: 6%;
	margin-bottom: 10%;
}
.h4wh{
	font-size: 14px;
	margin-left: 0%;
	margin-top: 10%;
}
/*latest work section*/
.section5{
	background-color: #f1f5f8;
}
.h2s5{
	text-align: center;
	color: #516985;
	margin-top: 60px;
}
.p2s5{
	text-align: center;
	color: #72879c;
	margin-top: 20px;
}
/* Want work with us section 6*/
.h2s6{
	text-align: center;
	font-size: 40px;
	color: #506a85;
}
.ps6{
	text-align: center;
	font-size: 20px;
	color: #506a85;
}
/* button*/
.btn6{
	padding: 15px 25px;
	font-size: 12px;
	color: #ffffff;
	background-color: #00bb9c;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	border-radius: 5px;
}
.btn6:hover{
	background-color: #ffffff;
	color: #00bb9c;
	border: 2px solid #00bb9c;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	border-radius: 5px;
}
.s6{
	height: 350px;
}
/*pre footer section 7*/
.sec7{
	background-color: #2f4052;
	min-height: 360px;
}
.h3s7{
	font-size: 20px;
	text-transform: uppercase;
	color: #ffffff;
	padding-top: 80px;
}
.ps7{
	font-size: 14px;
	color: #a4b2bf;
	text-align: left;
	padding-top: 20px;
}
/*Link section 7*/
.link7{
	font-size: 14px;
	color: #a3b1be;
	font-weight: bold;
}
.link7:hover{
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}
.gap{
	padding-right: 5px;
	padding-bottom: 5px;
}
.buttonInside{
  position:relative;
  margin-bottom:10px;
}
.input7{
	background-color: #4f5c6c;
	width: 250px;
	border: none;
}
.bt7{
	background-color: #00bb9c;
	text-transform: uppercase;
	font-size: 12px;
	padding: 9px 10px;
	font-weight: bold;
	position:absolute;
  	right: 0px;
  	top: 0px;
  	z-index: 9;
}
.bt7:hover{
	background-color: #ffffff;
	color: #00bb9c;
	text-transform: uppercase;
	font-size: 12px;
	padding: 9px 10px;
	font-weight: bold;
	position:absolute;
  	right: 0px;
  	top: 0px;
  	z-index: 9;
}
/*footer-------------------------*/
.footer{
	background-color: #293646;
}
/*Copyright*/
.copyright{
	margin-top: 10px;
	font-size: 13px;
	color: #616f7c;
}
/*footer nav*/
.fnav{
	display: inline-block;
	list-style: none;
	padding-top: 3px;
}
.footlink{
	color: #6c7989;
	text-decoration: none;
}
.footlink:hover{
	color: #ffffff;
	text-decoration: none;
}
/*Icons and text---------------*/
.fa-envelope, .fa-mobile-alt{
	font-size: 14px;
	color: #506a85;
	margin-top: 11px;
}
.fa-facebook-f, .fa-google-plus-g, .fa-twitter, .fa-pinterest-p, .fa-discord, .fa-reddit-alien{
	font-size: 14px;
	color: #506a85;
	margin-top: 11px;
	margin-right: 10px;
}
.fa-lightbulb, .fa-heart, .fa-star{
	display: block;
	position: absolute;
	top: 15px;
	color: #00bd9b;
	font-size: 35px;
	margin-top: 13%;
	margin-left: 45%;
	padding: 0;

}
.fa-long-arrow-alt-right{
	font-size: 14px;
	color: #a3b1be;
	padding-left: 7px;
	margin-top: 20px;
}
.ico{
	font-size: 14px;
	color: #7b8b9b;
	padding: 3px;
	margin: 0;

}
/* Carousel-------------------- */
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -50px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px ;
    border: none;
}

.blog .carousel-indicators .active {
	background: #00bc9c;
	border-radius: 50%;
    width: 8px ;
    height: 8px ;
    border: :none;
}
.cnpd{
	padding-top: 20px;
	padding-bottom: 60px;
}
